# {{ ansible_managed }}

# ========================================================
# = Homebrew
# ========================================================

eval "$(/opt/homebrew/bin/brew shellenv)"

# ========================================================
# = JetBrains Toolbox
# ========================================================

export PATH="${PATH}:${HOME}/Library/Application Support/JetBrains/Toolbox/scripts"

# ========================================================
# = Locale
# ========================================================

export LC_ALL=en_US.UTF-8
